/* #Overrides
================================================== */
.woocommerce-MyAccount-content table.woocommerce-orders-table .woocommerce-button {
  background-color: transparent!important;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
}

.woocommerce-MyAccount-content table.woocommerce-orders-table tbody tr {
  position: relative;
}

.woocommerce-MyAccount-content table.woocommerce-orders-table tbody tr td:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}