/* #Overrides
================================================== */
.woocommerce-MyAccount-content table.woocommerce-orders-table .woocommerce-button {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
}