/* #Global
================================================== */
body {
  font-family: 'Heebo', sans-serif;
}

/* #Swiper Arrows
================================================== */
.swiper-arrows img {
  width: .78vw;
}

@media (max-width: 1023.98px) {
  .swiper-arrows img {
    width: 5.46vw;
  }
}

/* #Swiper Pagination
================================================== */
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 0 .2vw;
  background: transparent;
  border: 1px solid transparent;
  opacity: 1;
  position: relative;
  transition: border .3s ease;
}

.swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #D8D8D8;
  transition: background-color .3s ease;
}

.swiper-pagination-bullet-active {
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.swiper-pagination-bullet-active::after {
  background-color: black;
}

/* #Social
================================================== */
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social li:not(:last-child) {
  margin-left: 2vw;
}

.social img {
  height: 1vw;
}

@media (max-width: 1023.98px) {
  .social li:not(:last-child) {
    margin-left: 8vw;
  }

  .social img {
    height: 6.13vw;
  }
}

/* #Btn
================================================== */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2.8vw;
  font-weight: 100;
  font-size: .93vw;
  padding: 0 2.24vw;
  border: 1px solid transparent;
}

.btn.btn-primary {
  background-color: white;
  color: black;
  border-radius: 500px;
  border: 1px solid black;
}

.btn.btn-secondary {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 500px;
}

.btn.border-0 {
  border: 1px solid transparent!important;
}

@media (max-width: 1023.98px) {
  .btn {
    height: 11.33vw;
    font-size: 4.26vw;
    padding: 0 11.73vw;
  }
}

/* #Checbox
================================================== */
.checkbox {
  width: 100%;
  align-items: center;
}

.checkbox label {
  padding-right: .5vw;
}

.checkbox input {
  background-color: transparent;
  background-image: none;
  border-radius: 50%;
  border: 1px solid black!important;
  padding: 0;
  width: .78vw;
  height: .78vw;
  flex: 0 0 .78vw;
}

.checkbox input:checked {
  border-color: black;
  background-color: transparent;
  background-image: none;
}

.checkbox .input {
  position: relative;
  flex: 0 0 .78vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox input:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: .41vw;
  height: .41vw;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
}

@media (max-width: 1023.98px) {
  .checkbox label {
    padding-right: 1.33vw;
  }
  
  .checkbox input {
    width: 3.6vw;
    height: 3.6vw;
    flex: 0 0 3.6vw;
  }
  
  .checkbox .input {
    flex: 0 0 3.6vw;
  }
  
  .checkbox input:checked::after {
    width: 1.92vw;
    height: 1.92vw;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all .3s ease;
}

.header.header-white,
.header.header-always-white {
  background-color: white;
  color: black;
}

.header.header-always-white .bottom,
.header.header-white .bottom {
  color: black;
}

.header .bottom img {
  transition: all .3s ease;
}

.header .bottom img:first-child {
  opacity: 1;
  visibility: visible;
}

.header.header-white .bottom img:first-child,
.header.header-always-white .bottom img:first-child {
  opacity: 0;
  visibility: hidden;
}

.header .bottom img:last-child {
  opacity: 0;
  visibility: hidden;
}

.header.header-white .bottom img:last-child,
.header.header-always-white .bottom img:last-child {
  opacity: 1;
  visibility: visible;
}

/* Top */
.header .top {
  background-color: black;
  color: white;
}

.header .top .container {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.13vw;
}

.header .top .swiper {
  flex-grow: 1;
}

.header .top .swiper-slide {
  padding: 0 1vw;
  text-align: center;
}

.header .top .swiper-arrows {
  flex: 0 0 .78vw;
}

/* Bottom */
.header .bottom {
  color: white;
  padding: 1vw 0;
  transition: all .3s ease;
}

.header .bottom .container {
  width: 91.25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-action,
.header-icons {
  flex: 0 0 15%;
}

/* Action */
.header-action {
  display: flex;
  align-items: center;
}

.header-hamburger {
  margin-left: 1.45vw;
  margin-top: 1.2vw;
  position: relative;
}

.header-hamburger img {
  width: 1vw;
}

.header-hamburger img:last-child {
  position: absolute;
  top: 0;
  right: 0;
}

.header-logo {
  position: relative;
}

.header-logo img {
  width: 6vw;
}

.header-logo img:last-child {
  position: absolute;
  top: 0;
  right: 0;
}

/* Links */
.header-links ul {
  display: flex;
  align-items: center;
}

.header-links ul li:not(:last-child) {
  margin-left: 3.65vw;
}

/* Icons */
.header-icons ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-icons ul li:not(:last-child) {
  margin-left: 2vw;
}

.header-icons ul li {
  position: relative;
}

.header-icons img {
  height: 1.25vw;
}

.header-icons img:last-child {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1023.98px) {
  /* Top */
  .header .top .container {
    width: 64%;
    height: 10.66vw;
  }

  .header .top .swiper-slide {
    padding: 0;
  }

  .header .top .swiper-arrows {
    flex: 0 0 5.46vw;
  }

  /* Bottom */
  .header .bottom {
    padding: 3.2vw 0;
  }

  .header .bottom .container {
    width: 90%;
  }

  .header-action,
  .header-icons {
    flex: 0 0 30%;
  }

  .header-action {
    flex: 0 0 66%;
  }

  /* Icons */
  .header-icons ul li:not(:last-child) {
    margin-left: 2.66vw;
  }

  .header-icons a,
  .header-hamburger a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.33vw;
    height: 7.33vw;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }

  .header .header-icons img:first-child,
  .header .header-hamburger img:first-child {
    opacity: 0!important;
    visibility: hidden!important;
  }

  .header .header-icons img:last-child,
  .header .header-hamburger img:last-child {
    opacity: 1!important;
    visibility: visible!important;
  }

  .header-icons img:last-child,
  .header-hamburger img:last-child {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  .header-icons img {
    height: 4.5vw;
  }

  /* Action */
  .header-hamburger {
    margin-left: 24.45vw;
    margin-top: 0;
  }

  .header-hamburger img {
    width: 3.46vw;
  }

  .header-logo img {
    width: 24.66vw;
  }
}

/* #Banner
================================================== */
.banner {
  color: white;
  position: relative;
}

.banner .img img,
.banner .img picture,
.banner .img video {
  height: 46vw;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cs-page .banner .img img,
.cs-page .banner .img picture,
.cs-page .banner .img video {
  height: 26vw;
}

.blog-page .banner .img img,
.blog-page .banner .img picture,
.blog-page .banner .img video {
  height: 26vw;
}

.banner .swiper-slide {
  position: relative;
}

.banner .swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

.banner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  line-height: 1;
}

.blog-page .text {
  top: 60%;
}

.banner h1 {
  margin-bottom: 2.6vw;
}

.banner .swiper-pagination {
  bottom: 1.5vw;
}

@media (max-width: 1023.98px) {
  .banner .img img,
  .banner .img picture,
  .banner .img video {
    height: 133.33vw;
  }

  .cs-page .banner .img img,
  .cs-page .banner .img picture,
  .cs-page .banner .img video {
    height: 66.66vw;
  }

  .cs-page .banner .text {
    width: 90%;
  }

  .cs-page .banner .text {
    top: 65%;
  }

  .blog-page .banner .img img,
  .blog-page .banner .img picture,
  .blog-page .banner .img video {
    height: 66.66vw;
  }

  .blog-page .banner .text {
    width: 90%;
  }

  .blog-page .banner .text {
    top: 65%;
  }
  
  .banner .text {
    width: 90%;
  }
  
  .banner h1 {
    margin-bottom: 6vw;
  }
  
  .banner .swiper-pagination {
    bottom: 4vw;
  }
}

/* #Home Features
================================================== */
.home-features {
  background-color: #F9F9F9;
  color: black;
  padding: 2.65vw 0;
}

.home-features .container {
  width: 85%;
}

.home-features .swiper-slide {
  display: flex;
  align-items: center;
}

.home-features .img {
  width: 2vw;
  flex: 0 0 2vw;
  margin-left: 1vw;
}

.home-features .img img {
  width: 100%;
}

.home-features p.bold {
  color: #3A3A3A;
}

@media (max-width: 1023.98px) {
  .home-features {
    padding: 8.93vw 0 10vw 0;
  }
  
  .home-features .container {
    width: 90%;
  }
  
  .home-features .swiper-slide {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }
  
  .home-features .img {
    width: auto;
    flex: 0 0 10vw;
    margin-left: 0;
    margin-bottom: 3.33vw;
    height: 10vw;
  }

  .home-features .img img {
    width: auto;
    height: 100%;
  }
}

/* #Home Categories
================================================== */
.home-categories {
  padding-top: 1.8vw;
}

.home-categories .container {
  width: 84%;
}

.home-categories ul {
  display: flex;
  flex-wrap: wrap;
  margin: -.911vw;
}

.home-categories ul li {
  flex: 0 0 50%;
  padding: .911vw;
}

.home-categories ul li:nth-child(5) {
  flex: 0 0 100%;
}

.home-categories a {
  display: block;
  position: relative;
  color: white;
  text-align: center;
  overflow: hidden;
}

.home-categories a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.15));
}

.home-categories .img img {
  width: 100%;
  height: 21.35vw;
  object-fit: cover;
  object-position: center;
  transition: transform .4s ease;
  backface-visibility: hidden;
  transform: scale(1);
}

.home-categories a:hover .img img {
  transform: scale(1.03);
}

.home-categories ul li:nth-child(5) .img img {
  height: 25.2vw;
}

.home-categories .text {
  position: absolute;
  bottom: 1.8vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.home-categories h2 {
  margin-bottom: .5vw;
}

@media (max-width: 1023.98px) {
  .home-categories {
    padding-top: 5.33vw;
  }
  
  .home-categories .container {
    width: 100%;
  }
  
  .home-categories ul {
    margin: 0;
    display: block;
  }
  
  .home-categories ul li {
    flex: 0 0 50%;
    padding: 0;
  }
  
  .home-categories ul li:not(:last-child) {
    margin-bottom: 2.66vw;
  }
  
  .home-categories .img img,
  .home-categories ul li:nth-child(5) .img img {
    height: 66.66vw;
  }
  
  .home-categories a:hover .img img {
    transform: scale(1);
  }
  
  .home-categories .text {
    bottom: 8vw;
  }
  
  .home-categories h2 {
    margin-bottom: 4vw;
  }  
}

/* #Home Brands
================================================== */
.home-brands {
  padding: 7vw 0;
  text-align: center;
}

.home-brands .container {
  width: 84%;
}

.home-brands .img,
.home-brands .img img,
.home-brands .img picture {
  width: 100%;
}

.home-brands h2 {
  margin-bottom: .5vw;
}

.home-brands p {
  max-width: 33vw;
  margin: 0 auto 1.5vw auto;
}

@media (max-width: 1023.98px) {
  .home-brands {
    padding: 16.5vw 0 18.66vw 0;
  }
  
  .home-brands .container {
    width: 90%;
  }
  
  .home-brands h2 {
    margin-bottom: 1vw;
  }
  
  .home-brands p {
    max-width: 100%;
    margin: 0 auto 10.66vw auto;
  }
}

/* #Large Products Slider
================================================== */
.large-products-slider {
  margin-bottom: 3.38vw;
}

.large-products-slider .container {
  width: 84%;
  position: relative;
}

.large-products-slider .swiper {
  padding-bottom: 2.5vw;
}

.large-products-slider .bg,
.large-products-slider .bg img,
.large-products-slider .bg picture {
  width: 100%;
  height: 32.3vw;
  object-fit: cover;
  object-position: center;
}

.large-products-slider .img {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.large-products-slider .img img {
  width: 15vw;
}

.large-products-slider .text {
  position: absolute;
  top: 50%;
  right: 5vw;
  transform: translateY(-50%);
}

.large-products-slider p {
  color: #525355;
  line-height: 1;
  margin-bottom: 1vw;
}

.large-products-slider h3 {
  margin-bottom: 3.38vw;
  color: #5E7E9B;
  line-height: 1;
}

.large-products-slider .swiper-pagination {
  bottom: 0;
}

/* Animation */
.large-products-slider .swiper-slide {
  overflow: hidden;
}

.large-products-slider .swiper-slide .img img { transform: translateX(-70vw); transition: transform .8s ease .6s; }
.large-products-slider .swiper-slide.swiper-slide-active .img img { transform: translateX(0); }

.large-products-slider .swiper-slide .text p { transform: translateX(30vw); transition: transform .8s ease .6s; }
.large-products-slider .swiper-slide.swiper-slide-active .text p { transform: translateX(0); }

.large-products-slider .swiper-slide .text h3 { transform: translateX(30vw); transition: transform .8s ease .8s; }
.large-products-slider .swiper-slide.swiper-slide-active .text h3 { transform: translateX(0); }

.large-products-slider .swiper-slide .text a { transform: translateX(30vw); transition: transform .8s ease 1s; }
.large-products-slider .swiper-slide.swiper-slide-active .text a { transform: translateX(0); }

@media (max-width: 1023.98px) {
  .large-products-slider {
    margin-bottom: 18.66vw;
  }

  .large-products-slider .container {
    width: 90%;
  }

  .large-products-slider .swiper {
    padding-bottom: 8.93vw;
  }
  
  .large-products-slider .bg,
  .large-products-slider .bg img,
  .large-products-slider .bg picture {
    height: 133.33vw;
  }
  
  .large-products-slider .img {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .large-products-slider .img img {
    width: 69.33vw;
  }
  
  .large-products-slider .text {
    top: 12vw;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    width: 90%;
  }
  
  .large-products-slider p {
    margin-bottom: 2vw;
  }
  
  .large-products-slider h3 {
    margin-bottom: 4vw;
  }

  /* Animation */
  .large-products-slider .swiper-slide .img img { transform: translateX(-80vw); transition: transform .8s ease .6s; }
  .large-products-slider .swiper-slide.swiper-slide-active .img img { transform: translateX(0); }

  .large-products-slider .swiper-slide .text p { transform: translateX(80vw); transition: transform .6s ease .6s; }
  .large-products-slider .swiper-slide.swiper-slide-active .text p { transform: translateX(0); }

  .large-products-slider .swiper-slide .text h3 { transform: translateX(80vw); transition: transform .6s ease .7s; }
  .large-products-slider .swiper-slide.swiper-slide-active .text h3 { transform: translateX(0); }

  .large-products-slider .swiper-slide .text a { transform: translateX(80vw); transition: transform .6s ease .8s; }
  .large-products-slider .swiper-slide.swiper-slide-active .text a { transform: translateX(0); }
}

/* #Products Slider
================================================== */
.products-slider {
  margin-bottom: 6.77vw;
}

.products-slider .container {
  width: 84%;
}

.products-slider .tab-navigation {
  position: relative;
  margin-bottom: 2vw;
}

.products-slider h2 {
  margin-bottom: .5vw;
}

.products-slider .tab-btn:not(:last-child) {
  margin-left: 2.6vw;
}

.products-slider .swiper-arrows {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.products-slider .swiper-arrows a:not(:last-child) {
  margin-left: .25vw;
}

.products-slider .swiper {
  margin: 0 -1vw;
}

.products-slider .swiper-slide {
  padding: 0 1vw;
}

@media (min-width: 1024px) {
  .products-slider .swiper-pagination {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .products-slider {
    margin-bottom: 18.66vw;
  }
  
  .products-slider .container {
    width: 100%;
  }
  
  .products-slider .tab-navigation {
    position: relative;
    margin-bottom: 9.33vw;
    padding-right: 5%;
  }
  
  .products-slider h2 {
    margin-bottom: 4.66vw;
    text-align: center;
  }
  
  .products-slider .tab-btn:not(:last-child) {
    margin-left: 3vw;
  }
  
  .products-slider .swiper-arrows {
    display: none;
  }

  .products-slider .tab-content {
    padding: 0 5%;
  }
  
  .products-slider .swiper {
    margin: 0 -2.66vw;
    padding-bottom: 13vw;
  }
  
  .products-slider .swiper-slide {
    padding: 0 2.66vw;
  }

  .products-slider .swiper-pagination {
    bottom: 0;
  }
}

/* #Product Card
================================================== */
.product-card {
  position: relative;
}

.product-card .product-img {
  height: 17.34vw;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vw 1.5vw 1.5vw 1.5vw; 
  margin-bottom: 1vw;
}

.product-card .product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.product-card .product-discount {
  position: absolute;
  top: 1vw;
  left: 1vw;
  color: #9D0505;
}

.product-card .product-like {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.product-card .product-like img {
  width: 1.35vw;
}

.product-card .product-price {
  margin-top: .75vw;
}

.product-card .product-price span:first-child {
  margin-left: 1vw;
}

.product-card .product-price span:last-child {
  color: #A8A8A8;
  text-decoration: line-through;
}

@media (max-width: 1023.98px) {
  .product-card .product-img {
    height: 39.2vw;
    padding: 9.33vw 3.33vw 3.33vw 3.33vw; 
    margin-bottom: 2.66vw;
  }
  
  .product-card .product-discount {
    top: 3vw;
    left: 2vw;
  }
  
  .product-card .product-like {
    top: 3vw;
    right: 2vw;
  }
  
  .product-card .product-like img {
    width: 5vw;
  }
  
  .product-card .product-price {
    margin-top: 2.66vw;
  }
  
  .product-card .product-price span:first-child {
    margin-left: 4.4vw;
  }
}

/* #Tab Navigation
================================================== */
.tab-navigation ul {
  display: flex;
}

.tab-btn {
  color: #707070;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}

.tab-btn.active {
  color: black;
  border-bottom: 1px solid black;
}

/* #Home Video
================================================== */
.home-video .container {
  width: 84%;
  position: relative;
}

.home-video video {
  width: 100%;
  height: 33.43vw;
  object-fit: cover;
  object-position: center;
}

.home-video .video {
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
}

.home-video .video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.15));
}

.home-video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-video .play-btn img {
  width: 4.68vw;
  margin-bottom: .88vw;
}

.home-video .text {
  position: absolute;
  right: 5.2vw;
  bottom: 4.16vw;
  color: white;
  line-height: 1.1;
}

.home-video .text p:first-child {
  margin-bottom: .5vw;
}

/* #Home Videos
================================================== */
.home-videos {
  margin-top: 1.5vw;
  overflow: hidden;
}

.home-videos .container {
  padding-right: 8%;
}

.home-videos .tabs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-videos .tab-content {
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
}

.home-videos .tab-navigation {
  flex: 0 0 19.5vw;
  padding-left: 2vw;
}

.home-videos .tab-btn:not(:last-child) {
  margin-bottom: 1vw;
}

.home-videos .tab-navigation h2 {
  line-height: 1.2;
  margin-bottom: 1vw;
}

.home-videos .tab-navigation ul {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-videos .swiper {
  margin: 0 -.78vw;
}

.home-videos .swiper-slide {
  padding: 0 .78vw;
  position: relative;
}

.home-videos .swiper-slide a {
  position: absolute;
  left: 50%;
  top: 5.57vw;
  transform: translateX(-50%);
}

.home-videos .swiper-slide a img {
  width: 2.28vw;
}

.home-videos .swiper-slide .video {
  margin-bottom: 1.5vw;
}

.home-videos .swiper-slide .video img {
  width: 100%;
}

.home-videos .swiper-slide h3 {
  line-height: 1.2;
  margin-top: .25vw;
}

.home-videos .swiper-arrows {
  display: flex;
  margin-top: 1.8vw;
}

.home-videos .swiper-arrows a:not(:last-child) {
  margin-left: .25vw;
}

@media (min-width: 1024px) {
  .home-videos .swiper-pagination {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .home-videos {
    margin-top: 9;
    overflow: hidden;
  }
  
  .home-videos .container {
    padding-right: 5%;
  }
  
  .home-videos .tabs {
    display: block;
  }
  
  .home-videos .tab-navigation {
    margin-bottom: 9.33vw;
    padding-right: 0;
  }
  
  .home-videos .tab-btn:not(:last-child) {
    margin-bottom: 1vw;
  }
  
  .home-videos .tab-navigation h2 {
    line-height: 1.2;
    margin-bottom: 4.66vw;
    text-align: center;
  }
  
  .home-videos .tab-navigation ul {
    flex-direction: row;
  }

  .home-videos .tab-btn:not(:last-child) {
    margin-left: 3vw;
  }

  .home-videos .swiper-arrows {
    display: none;
  }

  .home-videos .swiper {
    margin: 0 -2.66vw;
    padding-bottom: 16vw;
  }
  
  .home-videos .swiper-slide {
    padding: 0 2.66vw;
  }
  
  .home-videos .swiper-slide a {
    top: 19vw;
    transform: translateX(-50%);
  }
  
  .home-videos .swiper-slide a img {
    width: 15.33vw;
  }
  
  .home-videos .swiper-slide .video {
    margin-bottom: 4vw;
  }
  
  .home-videos .swiper-slide h3 {
    margin-top: 1vw;
  }
}

/* #Home Community
================================================== */
.home-community {
  padding: 7.8vw 0 8.5vw;
  text-align: center;
}

.home-community .container {
  width: 84%;
}

.home-community p {
  color: #616161;
}

.home-community ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw 0;
}

.home-community ul li:not(:last-child) {
  margin-left: 3.125vw;
}

.home-community ul a {
  text-decoration: underline;
}

.home-community h2 {
  margin-bottom: 2.7vw;
}

.home-community .swiper {
  margin: 0 -.57vw;
}

.home-community .swiper-slide {
  padding: 0 .57vw;
}

.home-community .img img {
  width: 100%;
  height: 17.55vw;
}

@media (max-width: 1023.98px) {
  .home-community {
    padding: 18.66vw 0;
  }
  
  .home-community .container {
    width: 100%;
  }
  
  .home-community ul {
    margin: 5vw 0;
  }
  
  .home-community ul li:not(:last-child) {
    margin-left: 6.66vw;
  }
  
  .home-community h2 {
    margin-bottom: 8vw;
  }
  
  .home-community .swiper {
    margin: 0;
  }
  
  .home-community .swiper-slide {
    padding: 0 2.26vw;
  }
  
  .home-community .img img {
    height: 64.26vw;
  }
}

/* #Subscribe
================================================== */
.subscribe {
  margin-bottom: 3.5vw;
  text-align: center;
  background-color: #F9F9F9;
  padding: 3vw 0;
}

.subscribe .container {
  width: 28%;
}

.subscribe h2 {
  margin-bottom: 1.45vw;
}

.subscribe input,
.subscribe input::placeholder {
  display: block;
  height: 2.18vw;
  font-size: 0.83vw;
  width: 100%;
  outline: none!important;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  text-align: center;
  font-family: inherit;
  margin-bottom: 2.2vw;
  background-color: transparent;
}

@media (max-width: 1023.98px) {
  .subscribe {
    margin-bottom: 12vw;
    background-color: transparent;
    padding: 0;
  }
  
  .subscribe .container {
    width: 100%;
    padding: 11.33vw 5%;
    background-color: #F9F9F9;
  }
  
  .subscribe h2 {
    margin-bottom: 6.66vw;
  }
  
  .subscribe input,
  .subscribe input::placeholder {
    height: 9.33vw;
    font-size: 4vw;
    margin-bottom: 8vw;
    background-color: transparent;
    border-bottom: 1px solid #848484;
  }

  .subscribe .btn.btn-primary {
    background-color: #F9F9F9;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
}

/* #Footer
================================================== */
.footer {
  padding-bottom: 9.375vw;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  margin-bottom: 2.85vw;
}

.footer-logo img {
  width: 6vw;
}

.footer .accordion {
  display: flex;
  margin-bottom: 6.25vw;
  line-height: 2.25;
}

@media (min-width: 1024px) {
  .footer .accordion {
    text-align: center;
  }

  .footer .collapsible:not(:last-child) {
    margin-left: 6.5vw;
  }

  .footer .collapse {
    height: auto!important;
  }
}

@media (max-width: 1023.98px) {
  .footer {
    padding-bottom: 25vw;
  }

  .footer-logo {
    margin-bottom: 12vw;
  }
  
  .footer-logo img {
    width: 30.66vw;
  }

  .footer-links {
    width: 90%;
  }
  
  .footer .accordion {
    display: block;
    margin-bottom: 14.66vw;
    line-height: 2.25;
    text-align: center;
  }

  .footer .collapsible {
    border-bottom: 1px solid #848484;
  }

  .footer .collapse-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15.6vw;
  }

  .footer .collapse-toggler .simbol {
    margin-right: 2.66vw;
  }

  .footer .collapse > *:first-child {
    padding-bottom: 6vw;
  }
}

/* #Customer Service
================================================== */
.cs-shipping {
  padding: 1vw 0 7vw 0;
}

.cs-shipping .container {
  width: 52%;
}

.cs-shipping h2 {
  text-align: center;
  margin-bottom: 2.6vw;
}

.cs-shipping h3 {
  margin-bottom: .75vw;
}

.cs-shipping .group:not(:last-child) {
  margin-bottom: 3.126vw;
}

.cs-shipping ul {
  margin-top: .75vw;
}

.cs-shipping ul li:not(:last-child) {
  margin-bottom: .75vw;
}

.cs-shipping ul li::before {
  content: '•';
}

@media (max-width: 1023.98px) {
  .cs-shipping {
    padding: 8vw 0 16vw 0;
  }
  
  .cs-shipping .container {
    width: 86%;
  }

  .cs-shipping h2 {
    margin-bottom: 6vw;
  }
  
  .cs-shipping h3 {
    margin-bottom: 2.66vw;
  }
  
  .cs-shipping .group:not(:last-child) {
    margin-bottom: 10.66vw;
  }
  
  .cs-shipping ul {
    margin-top: 2.66vw;
  }
  
  .cs-shipping ul li:not(:last-child) {
    margin-bottom: 3.33vw;
  }
}

/* #Customer Service
================================================== */
.cs-tos {
  padding: 1vw 0 7vw 0;
}

.cs-tos .container {
  width: 52%;
}

.cs-tos h2 {
  text-align: center;
  margin-bottom: 2.6vw;
}

.cs-tos h3 {
  margin-bottom: .75vw;
}

.cs-tos .group:not(:last-child) {
  margin-bottom: 3.126vw;
}

.cs-tos ol {
  margin-top: .75vw;
}

.cs-tos ol li:not(:last-child) {
  margin-bottom: .75vw;
}

@media (max-width: 1023.98px) {
  .cs-tos {
    padding: 8vw 0 16vw 0;
  }
  
  .cs-tos .container {
    width: 86%;
  }

  .cs-tos h2 {
    margin-bottom: 6vw;
  }
  
  .cs-tos h3 {
    margin-bottom: 2.66vw;
  }
  
  .cs-tos .group:not(:last-child) {
    margin-bottom: 10.66vw;
  }
  
  .cs-tos ol {
    margin-top: 2.66vw;
  }
  
  .cs-tos ol li:not(:last-child) {
    margin-bottom: 3.33vw;
  }
}

/* #Customer Service
================================================== */
.cs-refund {
  padding: 1vw 0 7vw 0;
}

.cs-refund .container {
  width: 52%;
}

.cs-refund h2 {
  text-align: center;
  margin-bottom: 2.6vw;
}

.cs-refund h3 {
  margin-bottom: .75vw;
}

.cs-refund .group:not(:last-child) {
  margin-bottom: 3.126vw;
}

.cs-refund ul {
  margin-top: .75vw;
}

.cs-refund ul li:not(:last-child) {
  margin-bottom: .75vw;
}

.cs-refund ul li::before {
  content: '•';
}

@media (max-width: 1023.98px) {
  .cs-refund {
    padding: 8vw 0 16vw 0;
  }
  
  .cs-refund .container {
    width: 86%;
  }

  .cs-refund h2 {
    margin-bottom: 6vw;
  }
  
  .cs-refund h3 {
    margin-bottom: 2.66vw;
  }
  
  .cs-refund .group:not(:last-child) {
    margin-bottom: 10.66vw;
  }
  
  .cs-refund ul {
    margin-top: 2.66vw;
  }
  
  .cs-refund ul li:not(:last-child) {
    margin-bottom: 3.33vw;
  }
}

/* #Customer Service FAQ
================================================== */
.cs-faq {
  padding: 1vw 0 7vw 0;
}

.cs-faq .container {
  width: 52%;
}

.cs-faq h2 {
  text-align: center;
  margin-bottom: 2.6vw;
}

.cs-faq h3 {
  text-align: center;
  margin-bottom: 1vw;
}

.cs-faq .accordion:not(:last-child) {
  margin-bottom: 3.5vw;
}

.cs-faq .collapsible {
  border: 1px solid #A8A8A8;
  border-radius: 1.5vw;
  padding: 1vw 1.3vw; 
  transition: border .4s ease;
}

.cs-faq .collapsible.show {
  border: 1px solid black;
}

.cs-faq .collapsible:not(:last-child) {
  margin-bottom: 1.3vw;
}

.cs-faq .collapse-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cs-faq .collapse > div {
  margin-top: .75vw;
}

@media (max-width: 1023.98px) {
  .cs-faq {
    padding: 8vw 0 16vw 0;
  }
  
  .cs-faq .container {
    width: 86%;
  }

  .cs-faq h2 {
    margin-bottom: 6vw;
  }

  .cs-faq h3 {
    margin-bottom: 6.66vw;
    text-align: right;
  }
  
  .cs-faq .accordion:not(:last-child) {
    margin-bottom: 10.66vw;
  }
  
  .cs-faq .collapsible {
    border-radius: 5.73vw;
    padding: 2.66vw 4vw; 
  }
  
  .cs-faq .collapsible:not(:last-child) {
    margin-bottom: 4.66vw;
  }
  
  .cs-faq .collapse > div {
    margin-top: 2vw;
  }
}

/* #Customer Service Refund Contact
================================================== */
.cs-refund-contact {
  margin-bottom: 6.25vw;
}

.cs-refund-contact .container {
  width: 52%;
  background-color: #F9F9F9;
  border-radius: 2vw;
  padding: 2vw;
  text-align: center;
}

.cs-refund-contact h2 {
  margin-bottom: .5vw;
}

.cs-refund-contact p {
  margin-bottom: 1.25vw;
}

.cs-refund-contact .links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cs-refund-contact a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5vw;
}

.cs-refund-contact a img {
  height: 1vw;
  margin-bottom: .5vw;
}

@media (max-width: 1023.98px) {
  .cs-refund-contact {
    margin-bottom: 16vw;
  }
  
  .cs-refund-contact .container {
    width: 100%;
    border-radius: 0;
    padding: 10vw 13.33vw;
  }
  
  .cs-refund-contact h2 {
    margin-bottom: 1vw;
  }
  
  .cs-refund-contact p {
    margin-bottom: 7.33vw;
  }
  
  .cs-refund-contact a {
    padding: 0 2.66vw;
  }
  
  .cs-refund-contact a img {
    height: 4vw;
    margin-bottom: 2vw;
  }
}

/* #Customer Contact
================================================== */
.cs-contact {
  margin-bottom: 6.25vw;
}

.cs-contact .container {
  width: 52%;
  border-radius: 2vw;
  padding: 2vw;
  text-align: center;
}

.cs-contact h2 {
  margin-bottom: .5vw;
}

/* Top */
.cs-contact .top {
  width: 16.9vw;
  margin: 0 auto 2vw auto;
}

.cs-contact .top .links {
  display: flex;
  justify-content: center;
  margin: 2vw 0 2.6vw 0;
}

.cs-contact .top .links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: underline;
}

.cs-contact .top .links a:first-child {
  margin-left: 4.4vw;
}

.cs-contact .top .links img {
  height: 2.34vw;
  width: 3vw;
  object-fit: contain;
  object-position: center;
  margin-bottom: .5vw;
}

.cs-contact .top .lined {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1.3vw auto;
}

.cs-contact .top .lined .line {
  flex-grow: 1;
  height: 1px;
  background-color: #D4D4D4;
}

.cs-contact .top .lined .text {
  padding: 0 .6vw;
}

.cs-contact .top p:last-child {
  margin-top: 2vw;
}

/* Bottom */
.cs-contact .bottom {
  background-color: #F9F9F9;
  border-radius: 2vw;
  padding: 2.6vw 5.2vw;
}

.cs-contact form {
  text-align: right;
  margin-top: 1.4vw;
}

.cs-contact .row {
  display: flex;
}

.cs-contact .row:not(:last-child) {
  margin-bottom: 1.5vw;
}

.cs-contact .row:last-child {
  margin-top: 2vw;
}

.cs-contact .col {
  flex: 0 0 50%;
}

.cs-contact .col:first-child {
  padding-left: 1.5vw;
}

.cs-contact .col:last-child {
  padding-right: 1.5vw;
}

.cs-contact input,
.cs-contact input::placeholder,
.cs-contact select,
.cs-contact label,
.cs-contact textarea {
  font-size: .94vw;
  border: none;
  width: 100%;
  background-color: transparent;
  color: black;
}

.cs-contact input,
.cs-contact input::placeholder,
.cs-contact select {
  border-bottom: 1px solid #A8A8A8;
  padding-bottom: .5vw;
}

.cs-contact textarea {
  resize: none;
  border: 1px solid #A8A8A8;
  border-radius: 1vw;
  margin: .6vw 0;
  padding: .5vw;
}

.cs-contact .btn {
  margin: 0 auto;
}

.cs-contact .row-textarea {
  flex-direction: column;
}

@media (max-width: 1023.98px) {
  .cs-contact {
    margin-bottom: 16vw;
  }
  
  .cs-contact .container {
    width: 100%;
    border-radius: 0;
    padding: 0;
    padding-top: 8vw;
  }
  
  .cs-contact h2 {
    margin-bottom: 1vw;
  }

  /* Top */
  .cs-contact .top {
    width: 70%;
    margin: 0 auto 10vw auto;
  }

  .cs-contact .top .links {
    margin: 8.66vw 0;
  }

  .cs-contact .top .links a:first-child {
    margin-left: 24.66vw;
  }

  .cs-contact .top .links img {
    height: 8.66vw;
    width: 11.33vw;
    margin-bottom: 1.33vw;
  }

  .cs-contact .top .lined {
    margin: 0 auto 1.6vw auto;
  }

  .cs-contact .top .lined .text {
    padding: 0 2vw;
  }

  .cs-contact .top p:last-child {
    margin-top: 5.33vw;
  }

  /* Bottom */
  .cs-contact .bottom {
    border-radius: 0;
    padding: 10vw 5%;
  }

  .cs-contact form {
    text-align: right;
    margin-top: 6vw;
  }

  .cs-contact .row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cs-contact .row:not(:last-child) {
    margin-bottom: 6vw;
  }

  .cs-contact .row:last-child {
    margin-top: 6vw;
  }

  .cs-contact .col {
    flex: 0 0 100%;
  }

  .cs-contact .col:first-child {
    padding-left: 0;
    margin-bottom: 6vw;
  }

  .cs-contact .col:last-child {
    padding-right: 0;
  }

  .cs-contact input,
  .cs-contact input::placeholder,
  .cs-contact select,
  .cs-contact textarea,
  .cs-contact label {
    font-size: 4vw;
  }

  .cs-contact input,
  .cs-contact input::placeholder,
  .cs-contact select {
    padding-bottom: 2vw;
  }

  .cs-contact textarea {
    border-radius: 2vw;
    margin: 2vw 0;
    padding: 2vw;
  }
}

/* #Customer Service Navigation
================================================== */
.cs-navigation {
  transform: translateY(-50%);
}

.cs-navigation .container {
  width: 52%;
  border-radius: 500px;
  padding: 1vw 1.5vw;
  background-color: white;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.05);
}

.cs-navigation .swiper {
  margin: 0 -.5vw;
}

.cs-navigation .swiper-slide {
  padding: 0 .5vw;
}

.cs-navigation a.btn {
  width: 100%;
  padding: 0;
  border: 1px solid #A8A8A8;
}

.cs-navigation a.btn.active {
  border: 1px solid black;
  font-weight: bold;
}

@media (max-width: 1023.98px) {
  .cs-navigation {
    transform: none;
  }

  .cs-navigation .container {
    width: 100%;
    border-radius: 0;
    padding: 4.4vw 0;
  }

  .cs-navigation .swiper {
    margin: 0;
  }
  
  .cs-navigation .swiper-slide {
    padding: 0 1.33vw;
  }
}

/* #Blog Navigation
================================================== */
.blog-navigation {
  transform: translateY(-50%);
}

.blog-navigation .container {
  width: 36%;
  border-radius: 500px;
  padding: 1vw 1.5vw;
  background-color: white;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.05);
}

.blog-navigation .swiper {
  margin: 0 -.5vw;
}

.blog-navigation .swiper-slide {
  padding: 0 .5vw;
}

.blog-navigation a.btn {
  width: 100%;
  padding: 0;
  border: 1px solid #A8A8A8;
}

.blog-navigation a.btn.active {
  border: 1px solid black;
  font-weight: bold;
}

@media (max-width: 1023.98px) {
  .blog-navigation {
    transform: none;
    margin-bottom: 8vw;
  }

  .blog-navigation .container {
    width: 100%;
    border-radius: 0;
    padding: 4.4vw 0;
  }

  .blog-navigation .swiper {
    margin: 0;
  }
  
  .blog-navigation .swiper-slide {
    padding: 0 1.33vw;
  }
}

/* #Blog Post
================================================== */
.blog-post {
  padding: 8vw 0 6.5vw 0;
  text-align: center;
}

.blog-post .container {
  width: 49.5%;
}

/* Header */
.blog-post-header p:last-child {
  margin: .75vw 0 1.5vw 0;
}

/* Img */
.blog-post-img {
  margin-bottom: 2.6vw;
}

.blog-post-img,
.blog-post-img img,
.blog-post-img picture {
  width: 100%;
}

/* Body */
.blog-post-body {
  text-align: right;
  margin: 2.35vw 0 3.9vw 0;
}

.blog-post-body .blog-post-img {
  margin-top: 2.6vw;
}

.blog-post-body h1,
.blog-post-body h2,
.blog-post-body h3,
.blog-post-body h4,
.blog-post-body h5 {
  font-size: 1.56vw;
  margin-bottom: 1vw;
  font-weight: 500;
}

.blog-post-body p {
  font-size: .94vw;
  font-weight: 200;
}

/* Social */
.blog-post .blog-social:last-child {
  border-top: 1px solid #A8A8A8;
  padding-top: 1.4vw;
}

@media (max-width: 1023.98px) {
  .blog-post {
    padding: 35vw 0 29.33vw 0;
  }
  
  .blog-post .container {
    width: 90%;
  }
  
  /* Header */
  .blog-post-header p:last-child {
    margin: 4vw 0 7.33vw 0;
  }

  /* Img */
  .blog-post-img {
    margin-bottom: 6.66vw;
  }

  /* Body */
  .blog-post-body {
    margin: 12vw 0 9.33vw 0;
  }

  .blog-post-body .blog-post-img {
    margin-top: 12vw;
  }

  .blog-post-body h1,
  .blog-post-body h2,
  .blog-post-body h3,
  .blog-post-body h4,
  .blog-post-body h5 {
    font-size: 5.6vw;
    margin-bottom: 3.33vw;
  }

  .blog-post-body p {
    font-size: 4vw;
  }

  /* Social */
  .blog-post .blog-social:last-child {
    padding-top: 5.33vw;
  }
}

/* #Blog Social
================================================== */
.blog-social,
.blog-social ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-social p,
.blog-social li:not(:last-child) {
  margin-left: 1.3vw;
}

.blog-social img {
  height: .78vw;
}

@media (max-width: 1023.98px) {
  .blog-social {
    flex-direction: column;
  }

  .blog-social p {
    margin-left: 0;
    margin-bottom: 2vw;
  }

  .blog-social li:not(:last-child) {
    margin-left: 6.66vw;
  }

  .blog-social img {
    height: 4.44vw;
  }
}

/* #Posts Slider
================================================== */
.posts-slider {
  overflow: hidden;
  padding-right: 7.8vw;
  padding-bottom: 6.25vw;
  position: relative;
}

.posts-slider h2 {
  margin-bottom: 2vw;
}

.posts-slider .swiper {
  overflow: visible;
}

.posts-slider .swiper-slide {
  padding-left: 2vw;
}

.posts-slider .swiper-slide > div {
  border-radius: .5vw;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.posts-slider .swiper-slide .img,
.posts-slider .swiper-slide .img img {
  width: 100%;
}

.posts-slider .swiper-slide .text {
  padding: 1vw 1.5vw;
}

.posts-slider .swiper-slide h3 {
  margin-bottom: .78vw;
}

.posts-slider .swiper-slide a {
  display: flex;
  align-items: center;
  margin-top: 1.5vw;
}

.posts-slider .swiper-slide a img {
  width: .9vw;
  margin-right: .5vw;
}

.posts-slider .swiper-arrows {
  display: flex;
  position: absolute;
  top: 1vw;
  left: 7.6vw;
}

.posts-slider .swiper-arrows a:not(:last-child) {
  margin-left: .25vw;
}

@media (max-width: 1023.98px) {
  .posts-slider {
    padding-right: 0;
    padding-bottom: 29.33vw;
  }
  
  .posts-slider h2 {
    margin-bottom: 5.33vw;
    text-align: center;
  }

  .posts-slider .swiper {
    padding-right: 5.33vw;
  }
  
  .posts-slider .swiper-slide {
    padding-left: 4vw;
  }
  
  .posts-slider .swiper-slide > div {
    border-radius: 1.2vw;
  }
  
  .posts-slider .swiper-slide .text {
    padding: 3.33vw 6.66vw;
  }
  
  .posts-slider .swiper-slide h3 {
    margin-bottom: 2.66vw;
  }
  
  .posts-slider .swiper-slide a {
    margin-top: 5.33vw;
  }
  
  .posts-slider .swiper-slide a img {
    width: 3.6vw;
    margin-right: 2vw;
  }
  
  .posts-slider .swiper-pagination {
    bottom: -15vw;
  }

  .posts-slider .swiper-arrows {
    display: none;
  }
}

/* #Videos Slider
================================================== */
.videos-slider {
  margin-top: 1.5vw;
  overflow: hidden;
}

.videos-slider .container {
  padding-right: 8%;
}

.videos-slider .tabs .tab-panel.active {
  overflow: visible;
}

.videos-slider .tab-navigation {
  position: relative;
  margin-bottom: 2vw;
}

.videos-slider h2 {
  margin-bottom: .5vw;
}

.videos-slider .tab-btn:not(:last-child) {
  margin-left: 2.6vw;
}

.videos-slider .swiper {
  overflow: visible;
}

.videos-slider .swiper-arrows {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.videos-slider .swiper-arrows a:not(:last-child) {
  margin-left: .25vw;
}

.videos-slider .swiper-slide {
  position: relative;
}

.videos-slider .swiper-slide {
  padding-left: 2vw;
}

.videos-slider .swiper-slide a {
  position: absolute;
  left: 50%;
  top: 5.57vw;
  transform: translateX(-50%);
}

.videos-slider .swiper-slide a img {
  width: 2.28vw;
}

.videos-slider .swiper-slide .video {
  margin-bottom: 1.5vw;
}

.videos-slider .swiper-slide .video img {
  width: 100%;
}

.videos-slider .swiper-slide h3 {
  line-height: 1.2;
  margin-top: .25vw;
}

.videos-slider .swiper-arrows {
  display: flex;
  margin-top: 1.8vw;
  margin-left: 7.6vw;
}

.videos-slider .swiper-arrows a:not(:last-child) {
  margin-left: .25vw;
}

@media (min-width: 1024px) {
  .videos-slider .swiper-pagination {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .videos-slider {
    margin-top: 9;
    overflow: hidden;
  }
  
  .videos-slider .container {
    padding-right: 5%;
  }
  
  .videos-slider .tabs {
    display: block;
  }
  
  .videos-slider .tab-navigation {
    margin-bottom: 9.33vw;
    padding-right: 0;
  }
  
  .videos-slider .tab-btn:not(:last-child) {
    margin-bottom: 1vw;
  }
  
  .videos-slider .tab-navigation h2 {
    line-height: 1.2;
    margin-bottom: 4.66vw;
    text-align: center;
  }
  
  .videos-slider .tab-navigation ul {
    flex-direction: row;
  }

  .videos-slider .tab-btn:not(:last-child) {
    margin-left: 3vw;
  }

  .videos-slider .swiper-arrows {
    display: none;
  }

  .videos-slider .swiper {
    margin: 0;
    padding-bottom: 16vw;
  }
  
  .videos-slider .swiper-slide {
    padding: 0;
    padding-left: 4vw;
  }
  
  .videos-slider .swiper-slide a {
    top: 15vw;
    transform: translateX(-50%);
  }
  
  .videos-slider .swiper-slide a img {
    width: 15.33vw;
  }
  
  .videos-slider .swiper-slide .video {
    margin-bottom: 4vw;
  }
  
  .videos-slider .swiper-slide h3 {
    margin-top: 1vw;
  }

  .videos-slider .swiper-pagination {
    bottom: 0;
  }
}

/* #Blog Page
================================================== */
.blog-page .videos-slider,
.blog-page .posts-slider {
  padding-bottom: 4.68vw;
  margin-top: 0;
}

.blog-page .subscribe {
  margin-top: 1.5vw;
}

@media (max-width: 1023.98px) {
  .blog-page .videos-slider {
    padding-bottom: 15.33vw;
    margin-top: 0;
  }

  .blog-page .posts-slider {
    padding-bottom: 30vw;
    margin-top: 0;
  }

  .blog-page .subscribe {
    margin-top: 0;
  }
}